<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="client.routingMaintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITEID" value=""/>
    <add key="CPNYID" value=""/>
    <add key="LICENSEKEY" value=""/>
    <add key="LICENSENAME" value=""/>
    <add key="LICENSEEXPIRATION" value=""/>
    <add key="SOFTWARENAME" value="CTAPI"/>
    <add key="SITEKEY" value=""/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <client.routingMaintenance.Properties.Settings>
            <setting name="client_routingMaintenance_ctDynamicsSL_inventory_billOfMaterial_maintenance_routingMaintenance_routingMaintenance"
                serializeAs="String">
                <value>http://localhost/ctDynamicsSL/routingMaintenance.asmx</value>
            </setting>
        </client.routingMaintenance.Properties.Settings>
    </applicationSettings>
</configuration>