<?xml version="1.0"?>
<configuration>
  <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="client.customers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SITEID" value="SITEID HERE"/>
    <add key="CPNYID" value="YOUR CPNYID"/>
    <add key="LICENSEKEY" value="YOUR LICENSE KEY"/>
    <add key="LICENSENAME" value="YOUR LICENSE NAME" />
    <add key="LICENSEEXPIRATION" value="EXPIRATION DATE.  LEAVE BLANK IF NEVER EXPIRES" />
    <add key="SITEKEY" value="SITE ENCRYPTION KEY HERE"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
        <client.customers.Properties.Settings>
              <setting name="client_customers_ctDynamicsSL_customers_customers"
                    serializeAs="String">
                    <value>URL FOR YOUR CUSTOMER WEB SERVICE HERE/CUSTOMERS.ASMX</value>
              </setting>
              <setting name="client_customers_ctDynamicsSL_common_common" serializeAs="String">
                    <value>URL FOR YOUR COMMON WEB SERVICE HERE/common.asmx</value>
              </setting>
        </client.customers.Properties.Settings>
    </applicationSettings>
</configuration>
