<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="client.purchasing.inquiries.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITEID" value=""/>
    <add key="CPNYID" value=""/>
    <add key="LICENSEKEY" value=""/>
    <add key="LICENSENAME" value=""/>
    <add key="LICENSEEXPIRATION" value=""/>
    <add key="SOFTWARENAME" value="CTAPI"/>
    <add key="SITEKEY" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <applicationSettings>
        <client.purchasing.inquiries.Properties.Settings>
            <setting name="client_purchasing_inquiries_ctDynamicsSL_purchasing_inquiries_poReceiptsInquiry_poReceiptsInquiry" serializeAs="String">
                <value>http://localhost/ctDynamicsSL/poReceiptsInquiry.asmx</value>
            </setting>
            <setting name="client_purchasing_inquiries_ctDynamicsSL_purchasing_inquiries_itemVendorHistory_itemVendorHistory" serializeAs="String">
                <value>http://localhost/ctDynamicsSL/itemVendorHistory.asmx</value>
            </setting>
        </client.purchasing.inquiries.Properties.Settings>
    </applicationSettings>
</configuration>
