<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="client.financial.accountsPayable.maintenance.vendorMaintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SITEID" value=""/>
    <add key="CPNYID" value=""/>
    <add key="LICENSEKEY" value=""/>
    <add key="LICENSENAME" value=""/>
    <add key="LICENSEEXPIRATION" value=""/>
    <add key="SITEKEY" value="CTAPI"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <applicationSettings>
    <client.financial.accountsPayable.maintenance.vendorMaintenance.Properties.Settings>
      <setting name="client_financial_accountsPayable_maintenance_vendorMaintenance_ctDynamicsSL_financial_accountsPayable_maintenance_vendorMaintenance_vendorMaintenance" serializeAs="String">
        <value>http://catalina/ctDynamicsSL/vendorMaintenance.asmx</value>
      </setting>
      <setting name="client_financial_accountsPayable_maintenance_vendorMaintenance_ctDynamicsSL_common_common" serializeAs="String">
        <value>http://catalina/ctDynamicsSL/common.asmx</value>
      </setting>
    </client.financial.accountsPayable.maintenance.vendorMaintenance.Properties.Settings>
  </applicationSettings>
</configuration>
