<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="client.financial.accountsReceivable.input.paymentEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITEID" value="YOURSITEHERE"/>
    <add key="CPNYID" value="YOURCPNYIDHERE"/>
    <add key="LICENSEKEY" value="YOURLICENSEKEYHERE" />
    <add key="LICENSENAME" value="YOURLICENSENAMEHERE" />
    <add key="LICENSEEXPIRATION" value="YOURLICENSEEXPIRATIONHERE" />
    <add key="SOFTWARENAME" value="CTAPI" />
    <add key="SITEKEY" value="YOURSITEKEYHERE" />
  </appSettings>
  <applicationSettings>
        <client.financial.accountsReceivable.input.paymentEntry.Properties.Settings>
            <setting name="client_financial_accountsReceivable_input_paymentEntry_ctDynamicsSL_financial_accountsReceivable_input_paymentEntry_paymentEntry" serializeAs="String">
                <value>http://yourServerName/ctDynamicsSL/paymentEntry.asmx</value>
            </setting>
        </client.financial.accountsReceivable.input.paymentEntry.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
