<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="client.project.timeAndExpense.maintenance.projectEmployeePositionRateMaintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITEID" value=""/>
    <add key="CPNYID" value=""/>
    <add key="LICENSEKEY" value=""/>
    <add key="LICENSENAME" value=""/>
    <add key="LICENSEEXPIRATION" value=""/>
    <add key="SOFTWARENAME" value="CTAPI"/>
    <add key="SITEKEY" value=""/>
  </appSettings>
  <applicationSettings>
        <client.project.timeAndExpense.maintenance.projectEmployeePositionRateMaintenance.Properties.Settings>
            <setting name="client_project_timeAndExpense_maintenance_projectEmployeePositionRateMaintenance_ctDynamicsSL_project_timeAndExpense_maintenance_projectEmployeePositionRateMaintenance_projectEmployeePositionRateMaintenance"
                serializeAs="String">
                <value>http://localhost/ctapi/services/ctDynamicsSL/projectEmployeePositionRateMaintenance.asmx</value>
            </setting>
            <setting name="client_project_timeAndExpense_maintenance_projectEmployeePositionRateMaintenance_ctDynamicsSL_common_common"
                serializeAs="String">
                <value>http://localhost/ctapi/services/ctDynamicsSL/common.asmx</value>
            </setting>
        </client.project.timeAndExpense.maintenance.projectEmployeePositionRateMaintenance.Properties.Settings>
    </applicationSettings>
</configuration>