<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="client.fieldService.serviceDispatch.input.serviceCallInvoiceEntry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="SITEID" value=""/>
    <add key="CPNYID" value=""/>
    <add key="LICENSEKEY" value=""/>
    <add key="LICENSENAME" value=""/>
    <add key="LICENSEEXPIRATION" value=""/>
    <add key="SITEKEY" value=""/>
  </appSettings>
  <applicationSettings>
        <client.fieldService.serviceDispatch.input.serviceCallInvoiceEntry.Properties.Settings>
            <setting name="client_fieldService_serviceDispatch_input_serviceCallInvoiceEntry_ctDynamicsSL_fieldService_serviceDispatch_input_serviceCallInvoiceEntry_serviceCallInvoiceEntry" serializeAs="String">
                <value>http://localhost/ctapi/services/ctDynamicsSL/serviceCallInvoiceEntry.asmx</value>
            </setting>
        </client.fieldService.serviceDispatch.input.serviceCallInvoiceEntry.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
