<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="client.orderManagement.input.shippers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
  <add key="SITEID" value=""/>
  <add key="CPNYID" value=""/>
  <add key="LICENSEKEY" value=""/>
  <add key="LICENSENAME" value=""/>
  <add key="LICENSEEXPIRATION" value=""/>
  <add key="SOFTWARENAME" value="CTAPI"/>
  <add key="SITEKEY" value=""/>
  </appSettings>

  <applicationSettings>
        <client.orderManagement.input.shippers.Properties.Settings>
              <setting name="client_orderManagement_input_shippers_ctDynamicsSL_orderManagement_input_shippers_shippers"
                    serializeAs="String">
                    <value>http://localhost/shippers.asmx</value>
              </setting>
              <setting name="client_orderManagement_input_shippers_ctDynamicsSL_orders_orders"
                    serializeAs="String">
                    <value>http://localhost/orders.asmx</value>
              </setting>
              <setting name="client_orderManagement_input_shippers_ctDynamicsSL_customers_customers"
                    serializeAs="String">
                    <value>http://localhost/customers.asmx</value>
              </setting>
              <setting name="client_orderManagement_input_shippers_ctDynamicsSL_common_common"
                    serializeAs="String">
                    <value>http://localhost/common.asmx</value>
              </setting>
        </client.orderManagement.input.shippers.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
