<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestSLConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <TestSLConsole.Properties.Settings>
            <setting name="SoftwareName" serializeAs="String">
                <value>CTAPI</value>
            </setting>
            <setting name="AllowSelfSignedServiceCalls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TestSLConsole_ctDynamicsSL_orders_orders" serializeAs="String">
                <value>https://catalina/ctDynamicsSL/orders.asmx</value>
            </setting>
            <setting name="TestSLConsole_ctDynamicsSL_invoiceAndMemo_invoiceAndMemo"
                serializeAs="String">
                <value>http://catalina/ctDynamicssl/invoiceAndMemo.asmx</value>
            </setting>
            <setting name="LicenseExpiration" serializeAs="String">
                <value></value>
            </setting>
            <setting name="LicenseKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SiteKey" serializeAs="String">
                <value></value>
            </setting>
            <setting name="CpnyID" serializeAs="String">
                <value>0060</value>
            </setting>
            <setting name="LicenseName" serializeAs="String">
                <value>CATALINA DEMO SYSTEM</value>
            </setting>
            <setting name="TestSLConsole_ctDynamicsSL_purchaseOrders_purchaseOrders"
                serializeAs="String">
                <value>http://catalina/ctDynamicssl/purchaseOrders.asmx</value>
            </setting>
            <setting name="TestSLConsole_ctDynamicsSL_projectMaintenance_projectMaintenance"
                serializeAs="String">
                <value>http://catalina/ctDynamicssl/projectMaintenance.asmx</value>
            </setting>
            <setting name="SiteID" serializeAs="String">
                <value>DEFAULT</value>
            </setting>
            <setting name="TestSLConsole_ctDynamicsSL_voucherAndAdjustmentEntry_voucherAndAdjustmentEntry"
                serializeAs="String">
                <value>http://catalina/ctDynamicssl/voucherAndAdjustmentEntry.asmx</value>
            </setting>
        </TestSLConsole.Properties.Settings>
    </applicationSettings>
</configuration>